<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dumbways</title>
    <link href="../assets/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <script src="../assets/js/jquery-3.3.1.min.js" type="text/javascript" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="../assets/js/script.js" type="text/javascript" crossorigin="anonymous"></script>
</head>
<body>

  <nav class="bg-gray-100 w-full h-auto px-4 py-3">
    <div class="max-w-8xl mx-auto flex flex-wrap items-center justify-between">
      <div class="flex items-center space-x-6">
        <img src="../assets/images/dumbways.png" alt="logo" class="w-[50px] h-[35px]">
        <ul class="flex space-x-6 text-black text-sm sm:text-base font-medium">
          <li><a href="#" class="font-bold hover:text-gray-600">Home</a></li>
          <li><a href="#" class="hover:text-gray-600">My Project</a></li>
          <li><a href="#" class="hover:text-gray-600">Hello {{userData.name}}</a></li>
        </ul>
      </div>
      <div class="mt-4 sm:mt-0">
        <a href="/logout" class="btn btn-md bg-black text-white rounded-md px-4 py-1 text-sm sm:text-base hover:bg-gray-800">
          Logout
        </a>
      </div>
    </div>
  </nav>

  <div class="bg-gray-200 w-screen">
    <div class="max-w-[800px] mx-auto px-4 py-10">
      <div class="text-center mb-12">
        <h1 class="uppercase font-bold text-4xl">add my project</h1>
      </div>
      <form action="/project" method="POST" enctype="multipart/form-data">
        <label for="projectName" class="text-xl font-semibold block">Project Name:</label>
        <input type="text" id="name" name="name" class="bg-white w-full h-[40px] rounded-xs shadow-xl mb-4 p-2">
        <div class="flex">
          <label for="start_date" class="text-xl font-semibold mr-[108px] md:mr-[280px] lg:mr-[295px]">Start Date:</label>
          <label for="end_date" class="text-xl font-semibold">End Date:</label>
        </div>
        <div class="flex gap-4">
          <input type="date" id="start_date" name="start_date" class="bg-white w-full h-[40px] rounded-xs shadow-xl mb-[15px] p-2">
          <input type="date" id="end_date" name="end_date" class="bg-white w-full h-[40px] rounded-xs shadow-xl mb-[15px] p-2">
        </div>
        <label for="description" class="text-xl font-semibold mb-2">Description:</label>
        <textarea type="text" id="description" name="description" class="bg-white w-full h-[150px] rounded-md shadow-xl mb-[15px] p-2"></textarea>
        <label class="text-xl font-semibold">Technologies:</label>
        <div class="flex mb-[20px]">
          <div class="mr-[150px]">
            <div class="mb-[10px] flex items-center">
              <input type="checkbox" id="icon1" name="icon1" class="checkbox bg-white rounded-xs mr-[10px]" value="i" />
              <label class="text-lg font-semibold">Node Js</label>
            </div>
            <div class="flex items-center">
              <input type="checkbox" id="icon2" name="icon2" class="checkbox bg-white rounded-xs mr-[10px]" value="i" />
              <label class="text-lg font-semibold">React Js</label>
            </div>
          </div>
          <div>
            <div class="mb-[10px] flex items-center">
              <input type="checkbox" id="icon3" name="icon3" class="checkbox bg-white rounded-xs mr-[10px]" value="i" />
              <label class="text-lg font-semibold">Next Js</label>
            </div>
            <div class="flex items-center">
              <input type="checkbox" id="icon4" name="icon4" class="checkbox bg-white rounded-xs mr-[10px]" value="i" />
              <label class="text-lg font-semibold">TypeScript</label>
            </div>
          </div>
        </div>
        <label class="text-xl font-semibold">Upload Image:</label>
        <input type="file" name="image" class="file-input w-full h-[40px] mb-[30px] shadow-xl"/>
        <div class="justify-end flex items-center">
          <button type="submit" id="btnSubmit" class="btn btn-xl bg-black text-white hover:bg-gray-800 text-center rounded-md w-[110px] h-[30px] text-lg">submit</button>
        </div>
      </form>
    </div>
  </div>
  <div class="bg-base-200 w-full px-4 py-10 sm:px-8 lg:px-20">
    <div class="max-w-4xl mx-auto text-center mb-10">
      <h1 class="uppercase font-bold text-4xl">my project</h1>
    </div>
    <div id="bodyCard" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {{#each project}}
      <div class="card bg-white shadow-xl p-5 w-full">
        <figure class="mb-2"><img src="../assets/uploads/{{this.image}}" alt="" class="h-[280px] w-full" /></figure>
        <div class="card-body p-0">
          <h2 class="font-bold text-lg break-words">{{this.name}}</h2>
          <div class="text-gray-500 text-sm mb-2">durasi : {{this.duration}}</div>
          <label for="modal_{{this.id}}" class="detCard link link-primary">Detail Project</label>
          <p class="break-words mb-[5px] text-justify">{{this.description}}</p>
          <div class="flex gap-4 mb-4 text-gray-700">
            {{#if this.icon1}}<img src="https://img.icons8.com/?size=100&id=hsPbhkOH4FMe&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
            {{#if this.icon2}}<img src="https://img.icons8.com/?size=100&id=25Sjy8fKExYA&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
            {{#if this.icon3}}<img src="https://img.icons8.com/?size=100&id=MWiBjkuHeMVq&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
            {{#if this.icon4}}<img src="https://img.icons8.com/?size=100&id=nCj4PvnCO0tZ&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
          </div>
          <div class="flex flex-col sm:flex-row gap-2">
            <label for="modal_edit_{{this.id}}" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-full sm:w-1/2">Edit</label>
            <label for="modal__delete_{{this.id}}" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-full sm:w-1/2">Delete</label>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{#each project}}
  <input type="checkbox" id="modal_{{this.id}}" class="modal-toggle" />
  <div class="modal" role="dialog">
    <div class="modal-box">
      <div class="text-center mb-2">
      <h1 class="capitalize font-bold text-3xl">{{this.name}}</h1>
      </div>
      <hr class="my-3">
      <div class=""mb-4>
      <div class="flex gap-2">
        <div>
        <img class="h-[250px] md:h-[200px] w-[170px] md:w-[250px]" src="../assets/uploads/{{this.image}}" alt="">
        </div>
        <div class="ml-[10px]">
        <div class="font-bold mb-2">Duration</div>
        <div class="flex mb-2 items-center">
          <img src="https://img.icons8.com/?size=100&id=V9bvolWxet7D&format=png&color=000000" class="w-[20px] h-[20px]" alt="">
          <div class="text-sm ml-2">{{this.formatStart}} - {{this.formatEnd}}</div>
        </div>
        <div class="flex mb-2 items-center">
          <img src="https://img.icons8.com/?size=100&id=YG3ylG1de6_J&format=png&color=000000" class="w-[20px] h-[20px]" alt="">
          <div class="text-sm ml-2">{{this.duration}}</div>
        </div>
        <div class="mb-2 font-bold">Technologies</div>
        <div class="flex">
          {{#if this.icon1}}<img src="https://img.icons8.com/?size=100&id=hsPbhkOH4FMe&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
          {{#if this.icon2}}<img src="https://img.icons8.com/?size=100&id=25Sjy8fKExYA&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
          {{#if this.icon3}}<img src="https://img.icons8.com/?size=100&id=MWiBjkuHeMVq&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
          {{#if this.icon4}}<img src="https://img.icons8.com/?size=100&id=nCj4PvnCO0tZ&format=png&color=000000" alt="#" class="w-[30px] h-[30px]">{{/if}}
        </div>
        </div>
      </div>
      <div class="text-justify break-words mb-4">{{this.description}}</div>
      </div>
      <div class="justify-end flex items-center">
        <label for="modal_{{this.id}}" class="btn btn-md bg-black text-white rounded-md px-4 py-1 text-sm sm:text-base hover:bg-gray-800">Close</label>
      </div>
    </div>
  </div>
  {{/each}}

  {{#each project}}
  <input type="checkbox" id="modal_edit_{{this.id}}" class="modal-toggle" />
  <div class="modal" role="dialog">
    <div class="modal-box">
      <div class="text-center mb-4">
        <h1 class="capitalize font-bold text-3xl">edit project</h1>
      </div>
      <form action="/update-project/{{this.id}}" method="POST" enctype="multipart/form-data">
        <label for="name" class="text-lg font-semibold block">Project Name:</label>
        <input type="text" name="name" class="bg-white w-full h-[40px] rounded-xs border border-black mb-4 p-2" value="{{this.name}}">
        <div class="flex">
          <label for="sDate" class="text-lg font-semibold mr-[92px] md:mr-[153px]">Start Date:</label>
          <label for="eDate" class="text-lg font-semibold">End Date:</label>
        </div>
        <div class="flex gap-4">
          <input type="date" name="start_date" class="bg-white w-full h-[40px] rounded-xs border border-black mb-[15px] p-2" value="{{this.start_date}}">
          <input type="date" name="end_date" class="bg-white w-full h-[40px] rounded-xs border border-black mb-[15px] p-2" value="{{this.end_date}}">
        </div>
        <label for="description" class="text-lg font-semibold mb-2 text-justify">Description:</label>
        <textarea type="text" name="description" class="bg-white w-full h-[150px] rounded-md border border-black mb-[15px] p-2">{{this.description}}</textarea>
        <label for="" class="text-lg font-semibold">Technologies:</label>
        <div class="md:flex mb-[20px]">
          <div class="mr-[150px]">
            <div class="mb-[10px] flex items-center">
              <input type="checkbox" name="icon1" class="checkbox bg-white border border-black rounded-xs mr-[10px]" {{#if this.icon1}}checked{{/if}}/>
              <label class="text-md font-semibold">Node Js</label>
            </div>
            <div class="flex items-center mb-[10px] md:mb-0">
              <input type="checkbox" name="icon2" class="checkbox bg-white border border-black rounded-xs mr-[10px]" {{#if this.icon2}}checked{{/if}} />
              <label class="text-md font-semibold">React Js</label>
            </div>
          </div>
          <div>
            <div class="mb-[10px] flex items-center">
              <input type="checkbox" name="icon3" class="checkbox bg-white border border-black rounded-xs mr-[10px]" {{#if this.icon3}}checked{{/if}} />
              <label class="text-md font-semibold">Next Js</label>
            </div>
            <div class="flex items-center">
              <input type="checkbox" name="icon4" class="checkbox bg-white border border-black rounded-xs mr-[10px]" {{#if this.icon4}}checked{{/if}} />
              <label class="text-md font-semibold">TypeScript</label>
            </div>
          </div>
        </div>
        <label  class="text-lg font-semibold">Upload Image:</label>
        <p class="mb-2 text-sm text-gray-500">Click to upload</p>
        <div class="flex items-center justify-center w-full mb-[10px]">
          <label for="upload-{{this.id}}" class="flex flex-col items-center justify-center w-full h-[200px] border-2 border-black border-dashed rounded-lg cursor-pointer bg-gray-50">
            <div class="mt-2"></div>
            <button type="button" class="deleteImageBtn absolute top-[612px] right-[30px] w-[30px] bg-red-500 text-white rounded-full p-1 hover:bg-red-600"><i class="fa-solid fa-x"></i></button>
            <img src="../assets/uploads/{{this.image}}" id="" alt="" class="previewImageEdit w-[440px] h-[190px] mt-[-5px]">
            <input id="upload-{{this.id}}" name="image" type="file" class="hidden uploadImageEdit" accept="image/*"/>
            <input type="hidden" id="existingImage" name="existingImage" value="{{this.image}}" />
          </label>
        </div>
        <div class="modal-action justify-center">
          <button type="submit" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-44 sm:w-1/2">Save</button>
          <label for="modal_edit_{{this.id}}" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-44 sm:w-1/2">Close</label>
        </div>
      </form>
    </div>
  </div>
  {{/each}}

  {{#each project}}
  <input type="checkbox" id="modal__delete_{{this.id}}" class="modal-toggle" />
  <div class="modal" role="dialog">
    <div class="modal-box">
      <div id='deleteCard'>
        <h3 class="text-xl text-center text-base-content">Are you sure you want to delete this Project ?</h3>
      </div>
      <div class="modal-action justify-center">
        <form action="/delete-project/{{this.id}}" method="POST">
          <button type="submit" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-44 sm:w-[200px]">Delete</button>
        </form>
        <label for="modal__delete_{{this.id}}" class="btn bg-black text-white hover:bg-gray-800 rounded-md py-1 w-44 sm:w-1/2">Close</label>
      </div>
    </div>
  </div>
  {{/each}}
</body>
</html>